{% extends "baseheader.html"%}
{%load static%}
{% block title %}
Interns Port@l
{%endblock%}

{%block content %}

<br/>
            <img style="border-radius:10px" src="{%static 'images/aboutpic.png'%}" width="100%" height="450px"

<br/>
<section class="w3l-grids-3 py-5" id="about" >
    <div class="container " >

      <div class="row ">

        <div class="col-lg-6 bottom-ab-left">

            <img style="border-radius:10px" src="{%static 'images/about2pic.jpg'%}" width="100%" height="250px"

</p>
        </div>

        <div class="col-lg-6 bottom-ab-right ">
		  <h4  align="center" style="color:#FF4500" class="sub-titlehny animate__animated animate__fadeInLeft">Find Your Dream Career</h3>

          <p align="justify" class="divstyle  animate__animated animate__slideInRight" style="color:black;align:justify">Intern world is a site where you will not be disappointed

in your search for a startup job/internship in any sector

It's either technology or business. We've got everything

you'll need.

<br/>Interns world is here to help you find your perfect team.
</p>
        
        </div>

      </div>
    </div>
</section>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="card" style="width: 100%;height:100%;border-radius:20px">
  <div class="card-body">
  <p align="center"><i class="fas fa-search" style="font-size:50px"></i></p>
    <h4 align="center" class="card-subtitle mb-2 " style="color:#FF4500">On-the-Go Start Jobs</h4>
    <p class="card-text" align="justify">You may look for internships and apply for them
from anywhere in the world with Intern World.
To see the new job opportunities available to you,

search and click.</p>
  
  </div>
</div>
</div>
<div class="col-md-6">
<div class="card" style="width: 100%;height:100%;border-radius:20px">
  <div class="card-body">
  <p align="center"><i class="fa fa-check-circle " style="font-size:50px;color:green"></i></p>
    <h4 align="center" class="card-subtitle mb-2 " style="color:#FF4500">Verified Companies</h4>
    <p class="card-text" align="justify">very single company that has ever existed has been

validated.All of these organisations are always on the lookout
for new talent for their startups and they all strive to provide the
finest work environment and support each individual's

development.

To get started, register with Interns World.</p>
   
  </div>
</div>
</div>
</div>
</div>
<div class="container">
    <h4 align="center" style="margin-top:30px; color: black"
    class="animate__animated animate__slideInDown " >
    HOW IT WORKS</h4>
	<h5 align="center" style="margin-top:30px; color: #FF4500"
    class="animate__animated animate__slideInDown " >
    What We're About</h5>
	<br/>
	  <div align="left">
     <p  style="font-size:20px;color:#FF4500" align="LEFT">
          <b>A Professional Development Solutions</b>
         <br/>
 <p align="LEFT"><b>by providing individuals with excellent internship opportunities.</b></p><br/>
  <hr align="left" style="background:#FF4500" width="50%">

  </div>
 <div align="RIGHT">
     <p  align="right" style="font-size:20px;color:#FF4500">
        <b>Advice For Mentorship</b>
         <br/>



   <p><b>transforming inspiring professionals into tomorrow's successfull professionals.</b></p><br/>
    <hr align="right" style="background:#FF4500" width="50%">
</div>

  
    <div align="left">
     <p  style="font-size:20px;color:#FF4500" align="left">
            <b>Support For Start Ups</b><br/></p>

          <p><b>assisting start-up's in their growth and development.</b></p><br/>
    <hr align="left" style="background:#FF4500" width="50%">
</div>
    <div align="RIGHT">
     <p style="font-size:20px;color:#FF4500"  align="RIGHT">
         <b>Meet the Demand of Qualified Personnel</b><br/></p>

       <p align="RIGHT"><b>Helping organisations in developing anefficient Eco-system that meets human resources needs.</b></p><br/>

   <hr align="right" style="background:#FF4500" width="50%">
 </div>
  
    
   
</div>
<br/>
<div class="container" >	  <h4  align="center" style="color:#FF4500" class="sub-titlehny animate__animated animate__fadeInLeft">About InternWorlds</h3>

          <p align="justify" class="divstyle  animate__animated animate__slideInRight" style="color:black;align:justify;font-size:20px">
		  Intern World is a part of <b>eSparse Matrix Solution Pvt Ltd's</b> training initiative.Our goal is to bring the internship concept to the public,since it is a primary factor.

</p>
</div>
<br/>
<br/>
<div class="container">	  <h4  align="center" style="color:#FF4500" class="sub-titlehny animate__animated animate__fadeInLeft">About Esparse Matrix Solutions Private Limited</h3>

          <p align="justify" class="divstyle  animate__animated animate__slideInRight" style="color:black;align:justify">eSparse Matrix Solutions Pvt Ltd. is a software development company specializing
in website and app development, software development, ERP development, HRMS
and payroll development, and CRM development.
Businesses' aspirations are supported by eSparse Matrix Solutions Pvt Ltd., which
connects the worlds of human resources . The company brought together outstanding
start-up's , internship and job to provide a one-of-a-kind mix of human resource and
creativity.
</p>
</div>

{%endblock%}