


{% extends "companyheader.html"%}
{%load static%}
{% block title %}
Intern Worlds
{%endblock%}

{%block content%}
<div class="new-wrapper">

	<div id="main">

		<div id="main-contents" style="margin-top:50px">
       <div class="form-style-3" >
<form method="POST" >
{% if messages %}

    {% for message in messages %}
    <p class="p-2 mb-2 bg-success text-white" style="background-color:black;color:white">{{message}}</p>
    {% endfor %}

              {% endif %}
{% csrf_token %}
        <fieldset style="background:#ffdd99;" ><legend style="color:#ffdd99;
  background: #5E8C88">CHANGE PASSWORD</legend>

                <label ><span>OLD PASSWORD <span class="required">*</span></span>

                <input style="border-radius:30px "  type="text" name="prev_password" placeholder="Previous Password"/>
                </label>                 <label ><span>NEW PASSWORD <span class="required">*</span></span>
   <input style="border-radius:30px "  type="text" name="new_password" placeholder="New Password"/>
            </label>       <label ><span>CONFIRM PASSWORD <span class="required">*</span></span>
     <input style="border-radius:30px " type="text" name="conf_password" placeholder="Confirm Password"/>
            </label>
              <label style="text-align:center"><span> </span><input style="border-radius:30px;color:#ffdd99;
  background: #5E8C88;" type="submit" value="Change Password"/>
        </fieldset></form>

    </div> </div>
    </div>
</div>

{%endblock%}