{% extends "companyheader.html"%}
{%load static%}
{% block title %}
Update Internship
{%endblock%}

{%block content%}
<div class="new-wrapper">

	<div id="main">

		<div id="main-contents">
    <div class="form-style-3" >
<form method="POST" >
     {% if messages %}

    {% for message in messages %}
    <p class="p-2 mb-2 bg-success text-white" style="background-color:black;color:white">{{message}}</p>
    {% endfor %}

              {% endif %}
                    {% csrf_token %}

                    {% for item in all_detail %}
    <fieldset style="background:#ffdd99;" ><legend style="color:#ffdd99;
  background: #5E8C88">UPDATE INTERNSHIP</legend>
    <label ><span>Company Name <span class="required">*</span></span>

        <input style="border-radius:30px " type="text" value="{{ item.company_name }}" name="company_name"></label>
                     <label ><span>Email-Address <span class="required">*</span>
                     </span> <input style="border-radius:30px " type="text" value="{{ item.email_address }}" name="email_address">
                     </label>
         <label ><span>Internship Type <span class="required">*</span></span>
             <input style="border-radius:30px "  type="text" value="{{ item.internship_type }}" name="internship_type">
         </label>
         <label ><span>Internship Title <span class="required">
             *</span></span> <input style="border-radius:30px " type="text" value="{{ item.internship_title }}" name="internship_title">
         </label>
         <label ><span>Skills <span class="required">*</span></span>
             <input style="border-radius:30px " type="text" value="{{ item.required_skill }}"
                    name="required_skill">
         </label>
         <label ><span>Experience Required <span class="required">*</span></span>
             <input style="border-radius:30px " type="text" value="{{ item.experience_requirements }}" name="experience_requirements">
         </label>
         <label ><span>Internship  Description <span class="required">*</span></span>
             <input style="border-radius:30px " type="text" value="{{ item.internship_description }}" name="internship_description">
         </label>
        <label ><span>Responsibilities <span class="required">*</span></span>
            <input style="border-radius:30px " type="text" value="{{ item.responsibilities }}" class="input-field" required name="responsibilities"  /></label>
<label ><span>Work Mode <span class="required">*</span></span>
    <input style="border-radius:30px " type="text" class="input-field" value="{{ item.work_mode }}" required name="work_mode"  /></label>
<label ><span>About Company <span class="required">*</span></span>
             <input style="border-radius:30px " type="text" value="{{ item.about_company }}" name="about_company">

        </fieldset>
    <fieldset style="background:#ffdd99;" ><legend></legend>
         <label ><span>Location <span class="required">*</span></span>
             <input style="border-radius:30px " type="text" value="{{ item.location }}" class="input-field" required name="location"  /></label>

<label ><span>No Of Positions <span class="required">*</span>
</span><input style="border-radius:30px " type="text" class="input-field" value="{{ item.no_of_positions }}" required name="no_of_positions"  /></label>
<label ><span>Stipend <span class="required">*</span></span>
    <input style="border-radius:30px " type="text" class="input-field" required name="stipend"  value="{{ item.stipend }}" /></label>
<label ><span>Appliaction Deadline <span class="required">*</span></span>
    <input style="border-radius:30px " type="text" class="input-field" value="{{ item.application_deadline }}" required name="application_deadline"  /></label>
 <label ><span>Responsibilities <span class="required">*</span></span>
                     <input style="border-radius:30px " type="text" value="{{ item.responsibilities }}" name="responsibilities">
 </label>
         <label ><span>Qualification <span class="required">*</span></span>
                    <input style="border-radius:30px " type="text" value="{{ item.required_qualification }}" name="required_qualification">
         </label>     {% endfor %}

<label style="text-align:center"><span> </span><input style="border-radius:30px;color:#ffdd99;
  background: #5E8C88;" type="submit" value="UPDATE" /></label>

    </fieldset>
</form>
          </div>

        </div>
    </div>
</div>

  <!-- //script for testimonials -->


{%endblock%}